
<header>
        <!-- Navbar & Hero Start -->
        <div class="container position-relative p-0">
            <nav class="navbar navbar-expand-lg px-4 px-lg-5 py-3 py-lg-0 navbar-menu">
                <a href="/" class="navbar-brand">
                  ShoeHouse
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="/home" class="nav-item nav-link">Home</a>
                        <a href="#" class="nav-item nav-link">Notification</a>
                        <!-- <a href="service.html" class="nav-item nav-link">Service</a> -->
                        <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Service</a>
                          <div class="dropdown-menu m-0 navbar-dropdown">
                              <a href="#" class="dropdown-item">Contact</a>
                              <a href="#" class="dropdown-item">About</a>
                              <a href="#" class="dropdown-item active">...</a>
                          </div>
                      </div>
                        <a href="menu.html" class="nav-item nav-link"><i class="fas fa-shopping-cart icon-cart"></i>Cart</a>
                        
                        <a href="/login" class="nav-item nav-link">Login</a>
                    </div>
                    <!-- <a href="" class="btn btn-primary py-2 px-4">Book A Table</a> -->
                </div>
            </nav>

            <!-- <div class="container-xxl py-5 bg-dark hero-header">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-warning mb-3 animated slideInDown">Hello, Welcome to our store !! </h1>
                    <h1 class="display-3 text-warning mb-3 animated slideInDown">It is our pleasure to serve you, Thank you! </h1>
                </div>
            </div> -->
        </div>
        <!-- Navbar & Hero End -->
</header>