/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    background-color: #F1F8FF;

  }