<!-- <app-header></app-header> -->
<div class="container bg-white">
  <div class="intro-section">
    <h1>Đây là trang home</h1>
    <p>Trang hiển thị danh sách các sản phẩm, kèm ảnh</p>
    <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>
  </div>
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tìm kiếm sản phẩm"
    />
    <select name="" id="" class="form-control product-category">
      <option selected disabled>Danh mục Sản phẩm</option>
      <option value="">Giày Nike</option>
      <option value="">Giày Adidas</option>
      <option value="">Giày Puma</option>
    </select>
  </div>
  <div class="row product-list">
    <h2>Sales</h2>
    <hr />
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row product-list">
    <h2>Sales</h2>
    <hr />
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <a href="/detail-product/1" class="product-link">
          <img
          src="https://dummyimage.com/600x400/000/fff"
          alt=""
          class="product-image"
        />
        </a>
        <h3 class="product-name">Nike</h3>
        <p class="product-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-quality">Hàng AUTH</p>
        <p class="product-price">Giá: <del>$100</del> $200</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-add-cart"><i class="fas fa-shopping-cart icon-cart"></i>Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
