.container {
    color:white;
    height: 100vh;
}
.login-form {
    background-color: #0F172B;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 1px solid rgb(32,34,36);
    align-items: center;
    justify-content: center;
}

.login-header {
    text-align: center;
    color: #FEA116;
    margin-bottom: 20px;
}

.form-control {
    background-color: transparent;
    border: none;
    color:white
}

.form-control:focus {
    // background-color: transparent;
    color:white;
    outline: none;
    border-color: transparent;
}
.form-control::placeholder {
    opacity: 0.5;
    color: #FEA116;
}
.divider-nospace {
    border-top: 1px solid white;
    margin-bottom: 20px;
    opacity: 0.5;
}

.password-field {
    position: relative;
}

.password-toggle {
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(10%);
    // --webkit-transform: translateY(-50%);
    color: #FEA116;
    cursor: pointer;
}

.checkbox-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #FEA116 ;
}

.checkbox-text input[type="checkbox"]:checked {
    border-color: white;
    background-color: #FEA116 ;
}

.form-check-input {
    margin-right: 10px;
}

.login-link {
    color: rgb(105,244,181);
    text-decoration: none;
}

.access-right {
    margin-top: 20px;
    width: 200px;
    color: white;
    border: 1px solid #FEA116;
}
.access-right:focus {
    border: 1px solid #FEA116;
}

.access-right option {
    // background-color: #FEA116;
    color: #FEA116;
}

.login-register {
    color: #0F172B;
    background: linear-gradient( to right,rgb(255, 193, 111),#bccfff);;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    margin-bottom: 10px;
}
